{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    {% include 'inc/header.html' %}

    {% include 'inc/messages.html' %}
    {% block content %} {% endblock %}

    {% include 'inc/footer.html' %}

    <script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>