{% load static %}
<header class="main-header">
    <div class="main-header-content">
        <div id="menu-bar" class="burger-bg" onclick="menuOnClick()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>
        <div class="main-header-logo-container">
            <a href="#"><img id="logo" class="main-header-logo-img"
                    src="{% static 'images/Ros-Logo.png' %}" alt>
            </a>
        </div>
        <nav class="nav" id="nav">
            <ul class="main-header-menu-container">
                <a class="menuItem" href="{% url 'home:home' %}">
                    <li>صفحه اصلی</li>
                </a>
                <a class="menuItem" href="{% url 'contact-us:contact-us' %}">
                    <li>ارتباط با ما</li>
                </a>
                <a class="menuItem" href="#">
                    <li>درباره ما</li>
                </a>
                <a class="menuItem" href="{% url 'weblog:blog' 1 %}">
                    <li>بلاگ</li>
                </a>
                <a class="menuItem" href="#">
                    <li id="course-list">لیست دوره ها</li>
                </a>
            </ul>
        </nav>
        <div class="menu-bg" id="menu-bg"></div>
        <div class="main-header-login-btn-container">
            <a href="#"><span class="main-header-login-btn">ورود / ثبت
                    نام</span>
            </a>
        </div>
    </div>
</header>